
.mainBar-bar{
    background-color: #ffffff;
    /* color: #f64c72; */
    /* font-size: 30px; */
}
.mainBar-bar a{
    text-decoration: none;
    color: #f64c72;
}
.menu-bar{
    background-color: #ffffff;
    height: 75px;
    display: flex;
    color: #f64c72;
    justify-content: space-between;
}
.flex-item{
    /* border-bottom: #a2a0a0 3.5px solid; */
    
    /* border: 1px solid red; */
    width: 380px;
    /* height: 50px; */
    color: #f64c72;
    /* margin: 0px 180px; */
    margin: 0px 5px; 
    padding: 0px;
    text-align: center;
    transition: 0.3s;
}
.active{
    border-bottom: 4px #f64c72 solid;
}
.active button{
    color: #f64c72;
}
.flex-item:hover{
    border-bottom: 4px #f64c72 solid;
}
.flex-item-button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    color: #7777eb;
    transition: 0.3s;
    /* height: 100%; */
    /* margin-bottom: 12px; */
    /* border: 1px solid red; */
}
.flex-item-button:hover{
    color: #f64c72;
    transform: scale(1.15);
}
.nav-title{
    margin: 0px 20px;
    color: #f64c72;
    /* font-size: 35px; */
    /* transition: 0.3s; */
}
.p-1 img{
    width: 40px;
    border-radius: 50%;
}
.p-1 h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}