nav{
    background-color: #ffffff;
    font-family: 'Mukta', sans-serif;
    /* border: 1px solid red; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.nav-title{
    margin: 0px 20px;
    color: rgb(27, 26, 26);
    font-size: 35px;
    transition: 0.3s;
}
.nav-title img{
    width: 45px;
    border-radius: 50%;
    margin: 0px 8px;
}
.nav-title:hover{
    margin: 0px 20px;
    color: rgb(2, 2, 2);
    font-size: 35px;
   transform: scale(1.15);

}
.nav-tabs{
    position: absolute;
    right: 0px;
    font-size: 20px;
    margin: 0px 20px;
    border: #ffffff 1px solid;
}
.nav-tabs ul li{
    margin: 0px 1em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-height: 43px;
    transition: 0.3s;
}

.nav-tabs ul .nav-li a{
    color: rgb(70, 70, 70);
    font-weight: 900;
    text-decoration: none;
    padding: 2px;
    transition: 0.5s;
    border-radius: 8px;
}
.nav-tabs ul .nav-li:hover{
   transform: scale(1.75);
   font-family: 'Mukta', sans-serif;
}
#loginBtn{
    padding: 0.5em 1.5em;
    border-radius: 20%;
    border-style: none;
    transition: 0.3s;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(
        to right, #e394f1,#8d8dfa);
}
#loginBtn:hover{
    transform: scale(1.15);
}