#cardContainer{
    /* border: 1px solid red; */
    /* position: absolute;
    top: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
    width: auto;
    height: 100%;
}
.card{
    width: 40%;
    height: 95%;
    transition: 0.5s;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);

}

/* .card:hover{
    transform: scale(1.005);
} */
.card img{
    height: 100%;
    filter: brightness(70%);
}
#card-body{
    position: absolute;
    bottom: 15%;
    color: aliceblue;
    font-family: 'Mukta', sans-serif;
}
#card-body:hover{
    background: rgb(0, 0, 0,0.2);
}
/* #nameDiv{
    position: absolute;
    bottom: 25%;
    color: aliceblue;
    font-family: 'Mukta', sans-serif;
}
#nameDiv:hover{
    background: rgb(0, 0, 0,0.2);
}
#description{
    position: absolute;
    bottom: 20%;
    color: aliceblue;
    font-family: 'Mukta', sans-serif;;
}
#description:hover{
    background: rgb(0, 0, 0,0.2);
} */